<h1>Wolf's Head Coffee</h1>
<% @customers.each do |customer| %>
	<%= link_to customer.first_name, customer_path(customer) %> <hr>
<% end %>
<button><%= link_to 'Create An Account', customers_new_path %></button>