<section class="row side_padding">
<div class="col-md-12 products">
<h1>Wolf's Head Coffee</h1>
<% @customers.each do |customer| %>
  <button type="button" class="btn btn-info"><%= link_to customer.first_name, customer_products_path(customer) %></button> <hr>
<% end %>
</div>
</section>
<!-- <button><%#= link_to 'Create An Account', customers_new_path %></button> -->