/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lato:700|Playfair+Display);


$lato: 'Lato', sans-serif;
$playfair-display: 'Playfair Display', serif;

body {
	font-family: $playfair-display;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $lato;
  font-weight: normal;
}

.button {
  font-family: $lato;
  font-weight: bold;
}

a {
	color: white;
}

a:hover {
	color: black;
}

.navbar-brand {
	background: white;
}

#logo {
	margin: 0;
    position: absolute;
    top: 14%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#login {
	margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

