<p id="notice"><%= notice %></p>

<section class="row side_padding">
<div class="col-md-12 products">

	<img src="/Sampler.jpg" id="sampler" >

	<h4>The Finest, 100% Organic Blends. Delivered straight to your door.</h4>
	<h5>$59.99</h5>

	<div class="sassy">
		<p>Wolf's Head Coffee is premium, 100% organic, and delicious. Available in whole bean or freshly ground varieties, our roasts will delight the senses and help you start your day off right, without putting a dent in your wallet. Our sampler includes five different 4oz whole bean roasts, delivered to your door for only $59.99. That's more than double the amount of coffee for $10 less than those other coffee subscription services' samplers.</p>
		<hr>
		<p>Once you become a believer, you can contact us at info@shopwolfshead.com to create a monthly delivery specifically tailored to your taste and monthly consumption. We also offer enterprise pricing for offices, and wholesale. Look out, hipster "craft" coffee companies. We're coming for you.</p>
		<button class="btn btn-primary btn-lg"><%= link_to 'Subscribe Now', customers_path %></button>
	</div>
</div>
</section>
